body {
  display:flex;
  background-color: #eeeeee;
  justify-content: center;
}



article {
  margin-top: 30vh;
  width: 15rem;
  height: 20rem;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front, .back {
  display: flex;
  position: absolute;
  width: 15rem;
  height: 20rem;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.223);
  backface-visibility: hidden;
}

.front {
  background-color: darkgoldenrod;

}

.back {
  background-color: darkslategrey;
  transform: rotateY(180deg);
}

article:hover{
  cursor: pointer;
  transform: rotateY(180deg);
}
