body {
  display:flex;
  background-color: #eeeeee;
  justify-content: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}

main {
  width: 20rem;
  height: 25rem;
}

main:hover > article {
  transition: transform 1.5s;
  transition-delay: 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  animation: jump 4s;
  transform: rotateY(180deg);
}

article {
  margin-top: 30vh;
  width: 15rem;
  height: 20rem;
  position: relative;
}

.front, .back {
  display: flex;
  position: absolute;
  width: 15rem;
  height: 20rem;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.223);
  backface-visibility: hidden;
}

.front {
  background-color: darkgoldenrod;

}

.back {
  background-color: darkslategrey;
  transform: rotateY(180deg);
}




@keyframes jump {
  from {top: 2rem}
  50% {top: -10rem}
  75% {top: 5rem}
  to {top: 0rem}
}