body {
	display: flex;
	min-width: 100vw;
	min-height: 100vw;
	justify-content: center;

	button {
		border: none;
		padding: 2rem;
		color: white;
		background-color: darkblue;
		height: 5rem;
		width: 13rem;
		margin-block: 20rem;
		font-size: large;
		border-radius: 40px;
		font-family: "Trebuchet MS";
	}
	.hello_i:hover {
		transform: translateX(2rem) scale(1.2);
		background-color: black;
		transition-duration: 1.5s;
		box-shadow: 8px 10px 20px 3px rgb(120, 38, 5);
		cursor: pointer;
	}
}
