html {
	min-width: 100vw;
	min-height: 100vh;
	margin: 0;
}

body {
	background-color: #eeeeee;
	display: flex;
	justify-content: center;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 12rem;
	border: solid 5px grey;
	border-radius: 50%;
	background-color: white;
	width: 15rem;
	height: 15rem;
}
.s {
  position: absolute;
	border-radius: 15px;
	width: 0.3rem;
	height: 4rem;
  margin-bottom: 4rem;
	background-color: darkred;
  animation: seconds 300s linear;
}
.ms {
	position: absolute;
	border-radius: 15px;
	background-color: black;
	width: 0.35rem;
	height: 6rem;
	margin-left: 0.1rem;
	margin-bottom: 5.7rem;
  animation: seconds 60s linear;
  animation-iteration-count: 5;
}
.dot {
	width: 0.6rem;
	height: 0.6rem;
	background-color: grey;
	border-radius: 50%;
}

@keyframes seconds {
  from {transform-origin: center bottom; transform: rotate(0deg);}
  to {transform-origin: center bottom; transform: rotate(360deg);}
}